# File di sistema macOS
.DS_Store
Thumbs.db

# Dipendenze Node.js (frontend)
node_modules/

# Directory di build (frontend)
dist/
!.well-known/

# File di configurazione locale
.env
.env.local
.env.*.local

# File di log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Directory e file dell'editor
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# File di configurazione locali (Visual Studio Code)
.vscode/settings.json
.vscode/tasks.json
.vscode/launch.json

# File di cache (se utilizzi Vue CLI)
.cache/